 .u-section-1 {
  background-image: url("images/bg_bggenerator_com9.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 153px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 37px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-2 .u-text-1 {
  margin: 63px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 37px 0 0;
}

.u-section-2 .u-image-1 {
  width: 308px;
  height: 154px;
  margin: 29px 75px 24px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-2 .u-image-1 {
    margin-bottom: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-right: 32px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 758px;
}

.u-section-3 .u-text-1 {
  margin: 41px auto 0;
}

.u-section-3 .u-gallery-1 {
  width: 743px;
  height: 588px;
  grid-gap: 10px;
  margin: 38px 199px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 75.24%;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-2 {
  object-position: 50% 73.66%;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 100%;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 38.07%;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 25.73%;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-back-image-6 {
  object-position: 50% 64.2%;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-back-image-7 {
  object-position: 50% 58.86%;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-back-image-8 {
  object-position: 50% 19.23%;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-back-image-9 {
  object-position: 50% 27.36%;
}

.u-section-3 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-back-image-10 {
  object-position: 50% 12.43%;
}

.u-section-3 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-3 .u-back-image-11 {
  object-position: 50% 19.65%;
}

.u-section-3 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-3 .u-back-image-12 {
  object-position: 50% 55.16%;
}

.u-section-3 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-3 .u-back-image-13 {
  object-position: 50% 24.97%;
}

.u-section-3 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-3 .u-back-image-14 {
  object-position: 50% 35.98%;
}

.u-section-3 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    margin-left: 99px;
    margin-right: 99px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-11 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-12 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-13 {
    width: 44px;
    height: 44px;
  }

  .u-section-3 .u-carousel-thumbnail-14 {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-11 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-12 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-13 {
    width: 42px;
    height: 42px;
  }

  .u-section-3 .u-carousel-thumbnail-14 {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-11 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-12 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-13 {
    width: 29px;
    height: 29px;
  }

  .u-section-3 .u-carousel-thumbnail-14 {
    width: 29px;
    height: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-4 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-5 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-6 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-7 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-8 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-9 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-10 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-11 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-12 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-13 {
    width: 15px;
    height: 15px;
  }

  .u-section-3 .u-carousel-thumbnail-14 {
    width: 15px;
    height: 15px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 642px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  width: 814px;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 686px;
  grid-gap: 30px;
}

.u-section-4 .u-container-layout-1 {
  padding: 12px 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 121px;
}

.u-section-4 .u-group-1 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 436px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin: -79px 0 0 121px;
}

.u-section-4 .u-container-layout-3 {
  padding: 12px 20px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 121px;
}

.u-section-4 .u-group-2 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 436px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  margin: -79px 0 0 121px;
}

.u-section-4 .u-container-layout-5 {
  padding: 12px 20px;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 121px;
}

.u-section-4 .u-group-3 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 436px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  margin: -79px 0 0 121px;
}

.u-section-4 .u-container-layout-7 {
  padding: 12px 20px;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 121px;
}

.u-section-4 .u-group-4 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 436px 0 0;
}

.u-section-4 .u-text-12 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-13 {
  margin: -79px 0 0 121px;
}

.u-section-4 .u-container-layout-9 {
  padding: 12px 20px;
}

.u-section-4 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 121px;
}

.u-section-4 .u-group-5 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 436px 0 0;
}

.u-section-4 .u-text-15 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-16 {
  margin: -79px 0 0 121px;
}

.u-section-4 .u-container-layout-11 {
  padding: 12px 20px;
}

.u-section-4 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 121px;
}

.u-section-4 .u-group-6 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 436px 0 0;
}

.u-section-4 .u-text-18 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-19 {
  margin: -79px 0 0 121px;
}

.u-section-4 .u-container-layout-13 {
  padding: 12px 20px;
}

.u-section-4 .u-text-20 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 121px;
}

.u-section-4 .u-group-7 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 436px 0 0;
}

.u-section-4 .u-text-21 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-22 {
  margin: -79px 0 0 121px;
}

.u-section-4 .u-container-layout-15 {
  padding: 12px 20px;
}

.u-section-4 .u-text-23 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0 121px;
}

.u-section-4 .u-group-8 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 436px 0 0;
}

.u-section-4 .u-text-24 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-25 {
  margin: -79px 0 0 121px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 579px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-text-13 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
  }

  .u-section-4 .u-group-5 {
    height: auto;
  }

  .u-section-4 .u-text-16 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-17 {
    margin-left: 0;
  }

  .u-section-4 .u-group-6 {
    height: auto;
  }

  .u-section-4 .u-text-19 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-20 {
    margin-left: 0;
  }

  .u-section-4 .u-group-7 {
    height: auto;
  }

  .u-section-4 .u-text-22 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-23 {
    margin-left: 0;
  }

  .u-section-4 .u-group-8 {
    height: auto;
  }

  .u-section-4 .u-text-25 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-right: 241px;
  }

  .u-section-4 .u-group-2 {
    margin-right: 241px;
  }

  .u-section-4 .u-group-3 {
    margin-right: 241px;
  }

  .u-section-4 .u-group-4 {
    margin-right: 241px;
  }

  .u-section-4 .u-group-5 {
    margin-right: 241px;
  }

  .u-section-4 .u-group-6 {
    margin-right: 241px;
  }

  .u-section-4 .u-group-7 {
    margin-right: 241px;
  }

  .u-section-4 .u-group-8 {
    margin-right: 241px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 730px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-5 .u-image-1 {
  min-height: 600px;
  background-image: url("images/profilkp.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 107px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 52px 0 0;
}

.u-section-5 .u-btn-1 {
  margin: 63px 154px 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  margin: 25px auto 0;
  padding: 10px 43px 10px 42px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 495px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 104px;
    margin-right: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-5 .u-image-1 {
    min-height: 379px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 79px;
    margin-right: 79px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-5 .u-image-1 {
    min-height: 569px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-5 .u-image-1 {
    min-height: 358px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 421px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px 169px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 37px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 331px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  width: 803px;
  font-size: 1.125rem;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 344px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-8 .u-list-1 {
  margin: 21px 0 10px;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  min-height: 237px;
  grid-gap: 0px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-8 .u-icon-1 {
  height: 86px;
  width: 85px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 213px;
  padding: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  margin: 17px auto 0;
}

.u-section-8 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 18px auto 0;
  padding: 2px 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 28px;
}

.u-section-8 .u-icon-2 {
  height: 86px;
  width: 85px;
  background-image: none;
  margin: 0 213px;
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  margin: 17px auto 0;
}

.u-section-8 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 18px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 168px;
    margin-right: 168px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 168px;
    margin-right: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-icon-1 {
    margin-left: 103px;
    margin-right: 103px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 103px;
    margin-right: 103px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 400px;
}